// .sign{
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%);
// }
.container{
    display: flex;
    color: black;
    width: 950px;
    // background-color: white;
    justify-content: space-around;
    margin: 95px 400px;
}
//background animation
