// .sign{
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%);
// }
.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
  }
//background animation
